<html>
<head>
				<title>CodeX Application Form</title>
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" rel="stylesheet" href="/css/normalize-css/normalize.css">
	<link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/Xfreelancing.css">
</head>
	<body>
		<div class="container">
  <nav class="mobile-layout">
    
<a href="/applicationForm">
	<img src="/img/nav/apply.png">
      <span>Apply</span>
    </a>
    <a href="/codecademy">
<i class="fa fa-terminal fa-2x"></i>
      <span>Learn</span>
    </a>
    <a href="/">
<img class="wallPaper" src="/img/favicon.ico">
    </a>
    <a href="#">
      <img src="/img/nav/about.png">
      <span>about</span>
    </a>
    <a href="mailto:info@projectcodex.co">
      <img src="/img/nav/email.png">
      <span>Contact</span>
    </a>
  </nav>
</div>
<section class="page-heading">
	<div class="container">
		<h3 class="xHeading"> Do you have the X factor? </h3>
	</div>
</section>
					{{{body}}}
					<br>
<footer>			
		<div class="footer">
			<div class="share">
			<small>Follow us here:</small>
			<br>
			<!-- Below is (facebook) -->
		  	<div class="social">
			<a href="http://www.facebook.com/projectcodeX">
	        		<img src="/img/social-icons/facebook.png">
	  	 	</a>
		  	</div>
			<!-- above is (facebook) -->
			<!-- Below is (twitter) --> 	
		  <div class="social">
			<a href="http://twitter.com/project_codeX">
			<img src="/img/social-icons/twitter.png">
	  		</a>
		  </div>
			<!-- above is (twitter) -->
			</div>
		<br>
 <div class="right">
  	<small>Copyright © 2014<a href="/index.html">&nbsp; codeX</a> &nbsp;| &nbsp;All Rights Reserved</small>
</div>
	</div> 
</footer>

	</body>
</html>