<body>
	<div class="content1">
		<div class="row">
			<h2><strong>About You</strong></h2> 
	      	<div class="sm">P 4 of 5</div>
	      	<form action="/applicationForm/about_you/{{_id}}" method="POST">
	      		<h6>You now know you want to become a codeX coder,we'd like to know more about you</h6>
	      		<div class="personalHd"><strong>Tell us a bit about your background</strong></div>
				<div class="question">
				  	<textarea id="input_18" class="form-textarea" name="background" cols="45" rows="6"></textarea>
				  	<h6>What your interests and passions are,any experience in programming,web design,etc.</h6>
				</div>

				<div class="personalHd"><strong>Why do you want to be codeX?</strong></div>
				<div class="question">
				  	<textarea id="input_18" class="form-textarea" name="why_codex" cols="45" rows="6"></textarea>
				  	<h6>What is interesting to you about technology and computers? What makes you think you'd be a good developer</h6>
				</div>

				<div class="personalHd"><strong>Tell us about something you've made or you've done to solve a problem</strong></div>
				<div class="question">
				  	<textarea id="input_18" class="form-textarea" name="problem_solved" cols="45" rows="6"></textarea>
				  	<h6>It need not to have anything to do with technology.Anything you've done that shows motivation.Why did you do it, what did it mean for you.Send us a photo or or a link to a video on YouTube </h6>
				</div>

				<br />
				<input type="submit"></input>
			</form>
		</div>
	</div>
</body>