<div class="content">
	<div class="row" id="ico_holder">
		<div class="info">
			<a href="/whatAbout">
		<img src="/img/about/what.png">
		</a>
		</div>
		<h4><strong>WHAT ?</strong></h4> 
<div class="info">
			<a href="whereAbouts">
		<img src="/img/about/where.png">
		</a>
		</div>
		<h4><strong>WHERE ?</strong></h4> 
<div class="info">
			<a href="what">
		<img src="/img/about/when.png">
		</a>
		</div>
		<h4><strong>WHEN ?</strong></h4> 
	</div>
</div>