<div class="content">
	<div class="row" id="ico_holder">
		<div class="info">
			<a href="/About/info">
		<img src="/img/about/what.png">
		</a>
		</div>
		<h4><strong>What ?</strong></h4> 
<div class="info">
			<a href="whereAbouts/info">
		<img src="/img/about/where.png">
		</a>
		</div>
		<h4><strong>Where ?</strong></h4> 
<div class="info">
			<a href="when/info">
		<img src="/img/about/when.png">
		</a>
		</div>
		<h4><strong>When ?</strong></h4> 
	</div>
</div>