<div class="content">
 		<div class="row">			
 		<h2><strong>About You</strong></h2> 
 	      	<div class="sm">P 4 of 5</div>
 	      	<form action="/applicationForm/about_you/{{_id}}" method="POST">
 	      		<xsmall>You now know you want to become a codeX coder,we'd like to know more about you. </xsmall>
 	      		<br>
 	      		<div class="personalHd"><strong>Tell us a bit about your background</strong></div>
 				<div class="question">
 				  	<textarea id="input_18" class="form-textarea" name="background" rows="3"></textarea>
 				  	<xsmall>What your interests and passions are,any experience in programming,web design,etc.</xsmall>
 				</div>

 				<div class="personalHd"><strong>Why do you want to be codeX?</strong></div>
 				<div class="question">
 				  	<textarea id="input_18" class="form-textarea" name="why_codex" rows="3"></textarea>
 				  	<xsmall>What is interesting to you about technology and computers? What makes you think you'd be a good developer</xsmall>
 				</div>

 				<div class="personalHd"><strong>Tell us about something you've made or you've done to solve a problem</strong></div>
 				<div class="question">
 				  	<textarea id="input_18" class="form-textarea" name="problem_solved" rows="3"></textarea>
 				  	<xsmall>It need not to have anything to do with technology.Anything you've done that shows motivation.Why did you do it, what did it mean for you.Send us a photo or or a link to a video on YouTube </xsmall>
 				</div>


 				<div class="form-pagebreak">
  						<div class="form-pagebreak-next-container">
            					<button class="btn btn-4 btn-4a icon-arrow-right" name="nextBtn">next</button>
            					<button class="btn btn-4 btn-4a icon-arrow-right" name="saveForLaterBtn">Save for later</button>

          					</div>
 						</div>	
			</form>
 		</div>
 </div>
