<body>
	<div class="content">
		<div class="row">
			<h2><strong>Financial Information</strong></h2> 
	      	<div class="sm">P 3 of 5</div>
	      	<form action="/applicationForm/financial_info/{{_id}}" method="POST">
			 	<input type="hidden" name="_id" value="{{_id}}">
			 	<h6>Do you need financial assistance</h6>
				<div class="">
       				<input type="radio" name="financial_supp" value="yes">Yes<br />
       				<input type="radio" name="financial_supp" value="no">No<br />
    			</div>
				<br />
				<div class="form-pagebreak">
					<div class="form-pagebreak-next-container">
					<button class="next">next</button>
					</div>
 				</div>
			</form>
		</div>
	</div>
</body>