<div class="content">
    <div class="row">
    <br>
    <div class="curriculum">So you want to learn to code?</div>
    <br>

<div class="text-content" >
  Coding isn’t easy… but it’s not that hard either, and it is a lot of fun! 
  If you love working out how to solve problems, and enjoy creating tools that benefit your community, then coding is a great path to follow, with many career opportunities as well.
</div>

<h4><strong>Getting started</strong></h4>
<div class="text-content" >
 If you've never tried coding, it's a good idea to start with <a href="http://hourofcode.com/us">Hour of Code</a> or  <a href="https://scratch.mit.edu/">Scratch</a>. Both use a very simple graphical tool to help beginners become familiar with coding concepts. As simple as it looks, the thinking is very well constructed, and the more time you spend here, the deeper your logical and computational thinking will become.
</div>

<h4><strong>Getting more formal</strong></h4>
<div class="text-content" >  
 <a href="https://dash.generalassemb.ly">Dash</a> is one of the nicest formats we've seen for learning about web development. Dash focuses on HTML & CSS with a little Javascript thrown in. It also has a clear link to a real business problem, and also presents a learning-by-doing approach.
</div>

<h4><strong>Learning languages</strong></h4>
<div class="text-content" > 
Once you're comfortable with the basics, <a href="http://www.codecademy.com">Codecademy</a> and <a href="https://www.khanacademy.org/computing">Khan Academy</a> both provide excellent learning environments. All languages have their benefits and drawbacks. You could pick one and try it out, or do some research about which language to start with.
</div>

<h4><strong>Computing without Computers</strong></h4>
<div class="text-content" > 
<a href="http://csunplugged.org/">Computer Science Unplugged</a> Computer Science Unplugged provides a huge variety of learning activities using cards, string, crayons, and lots of running around to help understand concepts such as binary numbers, algorithms, and data compression, in a way that's easy to remember - and to try anywhere, no computers needed.
</div>

<h4><strong>Think like a coder</strong></h4>
<div class="text-content" > 
Computers do repetitive calculations much faster and more accurately than people can. To get into the swing of things, spend some time every day noticing what kinds of things we need to calculate, and try to work out how to write each one in code. You'll soon notice many ways you could use technology, and even start imagining your own new applications.
</div>


    <h4><strong>CODEX RUNS ON PROJECT-DRIVEN LEARNING.</strong></h4>
    
      <div class="text-content" >
        That means we combine technical skills, industry orientation and agile practices together, in the context of real projects you build that end up on the Internet for the
       world to see. Which means you leave codeX with a portfolio of real work.
      </div>
      <div class="text-content" >
        Because there’s so much to learn, our curriculum expands and contracts at each person’s individual pace. Some people move swiftly through the basics, some take more time.
      </div>
      <div class="text-content" >
        The important thing is that you get comfortable with BOTH the concepts AND their application.
      </div>
      <div class="text-content" >The course runs over three 3-month terms, with a Demo Day at the end of each, where you’ll demo what you and your team have developed to that point.
      </div>
      <div class="text-content" >
      Go to 
      <a href="http://www.projectcodex.co/content/curriculum.html" title="view the full Curriculum" target="_blank"> www.projectcodex.co
      </a>
      to view the full Curriculum.
      </div>
    <br>
      <div class="form-pagebreak">
      <br>
      </div>
    </div>
</div>