<div class="content">
    <div class="row">
    <br>
    <div class="curriculum">Curriculum Overview</div>
    <br>
    <h4><strong>CODEX RUNS ON PROJECT-DRIVEN LEARNING.</strong></h4>
    
      <div class="text-content" >
        That means we combine technical skills, industry orientation and agile practices together, in the context of real projects you build that end up on the Internet for the
       world to see. Which means you leave codeX with a portfolio of real work.
      </div>
      <div class="text-content" >
        Because there’s so much to learn, our curriculum expands and contracts at each person’s individual pace. Some people move swiftly through the basics, some take more time.
      </div>
      <div class="text-content" >
        The important thing is that you get comfortable with BOTH the concepts AND their application.
      </div>
      <div class="text-content" >The course runs over three 3-month terms, with a Demo Day at the end of each, where you’ll demo what you and your team have developed to that point.
      </div>
      <div class="text-content" >
      Go to 
      <a href="http://www.projectcodex.co/content/curriculum.html" title="view the full Curriculum" target="_blank"> www.projectcodex.co
      </a>
      to view the full Curriculum.
      </div>
    <br>
      <div class="form-pagebreak">
      <br>
      </div>
    </div>
</div>