<body>
	<div class="content1">
		<div class="row">
			<h2><strong>Complete the puzzles and SUBMIT your Application form</strong></h2> 
	      	<div class="sm">P 5 of 5</div>
	      	<form action="/applicationForm/puzzles/{{_id}}" method="POST">
			 	<input type="hidden" name="_id" value="{{_id}}">
			 	<h6>Puzzle 1: Seating arrangements can be confusing-much like feature requests!</h6>
			 	<h3>Bithday Party - Seating Puzzle</h3>
			 	<h6>It's Alan's birthday and he's having a party. Seven other people will attend. Everyone will sit around the dining table. The seating arrangement must meet the following conditions:</h6>
			 	<h6>* Amy and Alan sit together. Brad and Beth sit together.</h6>
				<h6>* Charles sits next to either Debbie or Emily.</h6>
				<h6>* Frances sits next to Debbie.</h6>
				<h6>* Amy and Alan do not sit next to either Brad or Beth.</h6>
				<h6>* Brad does not sit next to Charles or Frances.</h6>
				<h6>* Debbie and Emily do not sit next to each other.</h6>
				<h6>* Alan does not sit next to either Debbie or Emily.</h6>
				<h6>* Amy does not sit next to Charles.</h6>
				<h5>Who should sit where?</h5>
				<img src="/css/puzzle1.png" style="height:300px; width:300px";>
				<div class="personalHd"><h5><strong>Write the names, starting with Alan, going clockwise.</strong></h5></div>
				<div class="question">
				  	<textarea id="input_18" class="form-textarea" name="puzzle1" cols="45" rows="6"></textarea>
				</div>
				<h6>Puzzle 2: Sometimes we need to combine our problem solving abilities with a bit of imagination.</h6>
				<h3>How many R50 notes on Cape Town Station?</h3>
				<h6>How many R50 notes do you think there are on Cape Town Station at 8:00 a.m. on any given morning?</h6>
				<div class="personalHd"><h5><strong>Tell us what your answer is and also tell us how you got to that number:</strong></h5></div>
				<div class="question">
				  	<textarea id="input_18" class="form-textarea" name="puzzle2" cols="45" rows="6"></textarea>
				</div>
				<h6>How did you find out about codeX?</h6>
				<div class="">
       				<input type="radio" name="heard_about_codex" value="facebook">Facebook<br />
       				<input type="radio" name="heard_about_codex" value="twitter">Twitter<br />
       				<input type="radio" name="heard_about_codex" value="mxit">Mxit<br />
       				<input type="radio" name="heard_about_codex" value="computer_training_centre">Computer training cente e.g Silulo Ulutho<br />
       				<input type="radio" name="heard_about_codex" value="school_or_academic_instition">School or Academic Institution<br />
       				<input type="radio" name="heard_about_codex" value="blogs_or_technews">Blogs or Tech News e.g Silicon Cape<br />
       				<input type="radio" name="heard_about_codex" value="radio">Heard about it on the radio<br />
       				<input type="radio" name="heard_about_codex"><input type="text" placeholder="Other">
       				<h6>That's it - mark your form as "Completed" and hit "Submit my Application"</h6>
       				<div class="">
       				<input type="radio" name="application_status" value="inprogress">In Progress<br />
       				<input type="radio" name="application_status" value="complete">Complete<br />
       				</div>
    			</div>
    			<br />
    			<button class="btn btn-4 btn-4a icon-arrow-right">submit</button>
			</form>
		</div>
	</div>
</body>