<div class="content">
  <div class="row">
  <h2><strong>Apply to become a codeX coder</strong></h2> 
    <small>Our first term for 2016 runs full-time in Cape Town from Feb - Dec 2016</small>
  <h3>View our Curriculum</h3> 

<div class="text-content">codeX runs on project-driven learning. Check out our unique industry-fit <a title="codeX Curriculum" href="http://www.projectcodex.co/content/curriculum.html" target="_blank">curriculum</a>.
  <br>
  <br>
<strong>Tell us about your coding experience</strong><br>
You don't need any coding experience to apply to codeX, but it helps us to know whether you have.<br>
We ask all of our applicants to complete two free online coding courses.<br>
If you've done programming at school, university, or in your own time, tell us about your projects.<br>
</div>
    <form action="/applicationForm" method="POST">
            <label class="text-content" id="label_18" for="input_18"><strong>Have you tried coding before?</strong></label>
          <div class="">
                  <input type="radio" style="width:initial;display:-webkit-inline-box;position:relative;text-align:start; margin:3px;" name="coding_experience" value="No,not yet" required>No, not yet <br>
                  <input type="radio" style="width:initial;display:-webkit-inline-box;position:relative;text-align:start; margin:3px;" name="coding_experience" value="Yes, a little" required>Yes, a little <br>
                  <input type="radio" style="width:initial;display:-webkit-inline-box;position:relative;text-align:start; margin:3px;" name="coding_experience" value="Yes,quite a bit" required>Yes, quite a bit <br>
          </div>
          <br>
              <label class="text-content" id="label_18" for="input_18"><strong>If you already have lots of coding experience, tell us about it here:</strong>
              </label>
              <textarea type="text" cols="28" name="coding_experience_details" rows="3,5" id="myTextArea" id="input_18" class="form-textarea" ></textarea>
       </div>
        <div id="cid_15" class="form-input-wide">
              <div id="text_15" class="form-html">
                <h3>
                  Codecademy
                </h3>
                <div class="text-content" >Sign up for the two free <a target="_blank" title="Register on Codecademy" href="http://www.codecademy.com">Codecademy</a> courses.
                &nbsp;If you're new to coding, the two prerequisite courses help to see if coding is something you really love.<br>&nbsp;For those who have some experience, the courses help make sure that everyone has a common baseline to start with.
                Sign up and work your way through these two online courses:
                <a href="http://www.codecademy.com/en/tracks/web" title="Codecademy - HTML CSS" target="_blank"></a><a target="_blank" title="Codecademy Javascript" href="http://www.codecademy.com/en/tracks/javascript">Javascript</a>&nbsp;and&nbsp;<a href="http://www.codecademy.com/en/tracks/web" title="Codecademy Javascript" target="_blank">HTML &amp; CSS </a>
                <br>
                <br>
                <strong>No internet access?<br></strong>Don't worry! If you don't have internet access, check out the <a target="_blank" title="codeX Open Days" href="http://www.projectcodex.co/codeX-Open-Days/index.html">codeX Open Days</a> to find a venue near you.</div>
              </div>
        </div><br>
            <h5>Codecademy email address</h5>
          <span class="form-required">
          </span>
        </label>
          <div id="cid_50" class="form-input-wide jf-required">
            <span class="form-sub-label-container" style="vertical-align: top">
              <input type="text" class="form-textbox validate[required, Email]" data-type="email" placeholder="codecademy email address" id="input_50" name="codecademyEmail" size="30" value="" required>
              <label class="text-content" for="input_50" ><br><small>Tell us your email address that you used to register on codecademy.com courses. We will send you an invite so that we can see how you are progressing through Codecademy.</small></label>
            </span>
          </div>
          <div id="text_85" class="form-html">
            <p class="text-content" style="text-align:center;"><small>
              Please&nbsp;note this form has &nbsp;5 sections&nbsp;to complete.
            At the end of the form you must mark your application as "Complete" in order to submit the application.</small></p>
          </div>

          <div class="form-pagebreak">
              <div class="form-pagebreak-next-container">
                <button class="next">next</button>
              </div>
          </div>
        </div>
    </form>
  </div>