<body>
	<div class="content">
		<div class="row">
			<h2><strong>Personal details</strong></h2> 
	      	<div class="sm">Pg 2 of 5</div>

			<form action="/applicationForm/question2/{{_id}}" method="POST">
			 	<input type="hidden" name="_id" value="{{_id}}">
<div class="personalHd"><strong>YOUR FULL NAME</strong></div>
				<div class="person" >
			  	<div class="question" >
				    	<input type="text" maxlength="40"  name="first_name"required/>
				    	<label>First Name</label>
				  	</div>
				  	<div class="question" >
				    	<input type="text" maxlength="40" name="last_name" required/>
				    	<label>Last Name</label>
				  	</div>
				  	</div>
<div class="personalHd"><strong>ID NUMBER</strong></div>
				  	<div class="question" >
				    	<input type="text" name="id_number" minlength="13" maxlength="13" required/>
				    	<label>ID number</label>
				  	</div>
<div class="personalHd"><strong>YOUR EMAIL ADDRESS</strong></div>
				  	<div class="question" >
				    	<input type="text" maxlength="40" name="email_address" required/>
				    	<label>Email Address</label>
				  	</div>
<div class="personalHd"><strong>YOUR PHONE NUMBER</strong></div>
				  	<div class="question" >
				    	<input type="text" name="phone_number" minlength="10" maxlength="11" required/>
				    	<label>Phone no:</label>
				  	</div>

<div class="personalHd"><strong>YOUR DATE OF BIRTH</strong></div>
				  	<div class="question" >
				    	<input type="date" name="date_of_birth" required/>
				  	</div>

<div class="personalHd"><strong>CITY YOU LIVE IN</strong></div>
				  	<div class="question" >
				    	<input type="text" maxlength="40" name="city" required/>
				    	<label>City</label>
				    	<xsmall>CodeX is a full time course and is currently running in Cape Town. All participants must be in the Cape Town area.</xsmall>
				  	</div>
<div class="personalHd"><strong>EDUCATION AND EXPERIANCE</strong></div>
				  		<div class="question">
				  		<textarea id="input_18" class="form-textarea" name="education_and_experience" cols="25" rows="3"></textarea>
				  		<xsmall>Tell us what level of education you have,where you studied and whether you have experience any field.</xsmall>
				  		</div>

				  		<h4><strong>Character references</strong></h4>
				  		<div class="text-content">
				  		We need contact details of someone outside of your family who knows you who can vouch for your character and talent.
				  		This could be someone you've worked with,or who taught or mentored you,or someone else professionally qualified.
				  		</div>
				  		<br>
<div class="personalHd"><strong>REFERENCE NAME AND SURNAME</strong></div>
				  		<div class="question">
				    		<input type="text" maxlength="50" name ="ref_name_and_surname" required/>
				    		<label>name and surname</label>
				  		</div>

<div class="personalHd"><strong>EMAIL ADDRESS</strong></div>
				  		<div class="question">
				    		<input type="text" maxlength="40" name="ref_email_add" required/>
				    		<label>Email Address</label>
				    		<xsmall>Email address of  your references</xsmall>
				    	</div>

<div class="personalHd"><strong>PHONE NUMBER</strong></div>
				  		<div class="question">
				    		<input type="text" minlength="10" maxlength="11" name="ref_phone_number" required/>
				    		<label>Phone no:</label>
				  		</div>
<div class="personalHd" ><strong> MY REFERENCE WAS MY</strong></div>
				  		<div class="question" style="position: relative;padding: 24px 0px;padding-bottom: 0;">
       						<input type="radio"style="width:initial;display:-webkit-inline-box;position:relative;text-align:start; margin:3px;" name="relationship" value="mentor">Mentor<br />
       						<input type="radio"style="width:initial;display:-webkit-inline-box;position:relative;text-align:start; margin:3px;" name="relationship" value="teacher">Teacher<br />
       						<input type="radio"style="width:initial;display:-webkit-inline-box;position:relative;text-align:start; margin:3px;" name="relationship" value="employer">Employer
    					</div>
					<input type="radio" style="width: initial;display: -webkit-inline-box;position: relative;text-align: start;margin-right: 12px;margin-left: 4px;" name="relationship" value="other">
       				<input type="text" style="border: 1px solid #6C9816;font-size: 11px;display: -webkit-inline-box;box-sizing: border-box;padding: 7px 28px;border-radius: 15px;color: #30843C;font-weight: 100;text-align: start;letter-spacing: 0.01em;position: relative;z-index: 1;" maxlength="40" placeholder="Other">
       						<br>
       						<br>
    					<div class="form-pagebreak">
          					<div class="form-pagebreak-next-container">
            					<button class="btn btn-4 btn-4a icon-arrow-right" name="nextBtn">next</button>
            					<button class="btn btn-4 btn-4a icon-arrow-right" name="saveForLaterBtn">Save for later</button>

          					</div>
 						</div>
			</form>
		</div>
	</div>
</body>