<h1> Thank you for applying for CodeX </h1> 
<h1>This is the link the click to follow when you want to edit your application</h1>
	{{url}}
<h4>We will send you the link via email on {{codecademyEmail}}</h4>