<div class="content">
	<div class="row">
<h3>Dear {{first_name}}</h3>

<div class="text-content">Your application to codeX has been saved. To complete the application,click on this link:
<a href="{{route}}">www.projectcodex/formCompletion...</a></div> 
<br>
<small>Your application status is: <strong><span class="note">{{application_status}}</span></strong>.</small> 
</br>
</br>
 <strong><span class="note">Please note:All fields must be completed in order for us to process your application.</strong> 
<br>
<small>You will be able to edit the form until the Status is COMPLETED.</span>
</br>
We have sent you an email with the link to complete your application on this email address :- <span class="note">{{email_address}}</span></small> 
	</div>
</div>