	<div class="content">
		<div class="row">
			<h2><strong>Financial Information</strong></h2> 
	      	<div class="sm">P 3 of 5</div>
	      	<form action="/applicationForm/sponsorship_required/{{_id}}" method="POST">
				<div class="personalHd"><strong>What is your household income?</strong></div>
				  	<div class="question">
				    	<input type="text" name="household_income"required/>
				    	<label>household income</label>
				    	<h6>What is the total amount earned by people in your household</h6>
				    </div>
				<div class="personalHd"><strong>How many people live in your household?</strong></div>
				  	<div class="question">
				    	<input type="text" name="household_people"required/>
				    	<label>Number of people</label>
				    </div>
				<div class="personalHd"><strong>How will you cover your travel cost to codeX?</strong></div>
				  	<div class="question">
				    	<input type="text" name="travel_cost" required/>
				    	<label>Travel cost</label>
				    	<h6>Depending on where you live, you may need to travel by train,bus, or MyCiti.</h6>
				    </div>
				   <button class="btn btn-4 btn-4a icon-arrow-right" name="nextBtn">next</button>
            					<button class="btn btn-4 btn-4a icon-arrow-right" name="saveForLaterBtn">Save for later</button>
			</form>
		</div>
	</div>
