	<div class="content">
		<div class="row">
			<h2><strong>Financial Information</strong></h2> 
	      	<div class="sm">P 3 of 5</div>
	      	<form action="/applicationForm/sponsorship_not_required/{{_id}}" method="POST">
					<h6>Please provide us with the contact details of the person responsible for your payments</h6>
				    <div class="personalHd"><strong>First Name</strong></div>
				  		<div class="question">
				    		<input type="text" name="responsiblePerson_name"required/>
				    		<label>First Name</label>
				    </div>
				    <div class="personalHd"><strong>Last Name</strong></div>
				  		<div class="question">
				    		<input type="text" name="responsiblePerson_lastname"required/>
				    		<label>Last Name</label>
				    	</div>
				    <div class="personalHd"><strong>Phone Number</strong></div>
				  		<div class="question">
				    		<input type="text" name="responsiblePerson_phoneNumber"required/>
				    		<label>Phone Number</label>
				    	</div>
				    <div class="personalHd"><strong>Email address</strong></div>
				  		<div class="question">
				    		<input type="text" name="responsiblePerson_email"required/>
				    		<label>Email address</label>
				    	</div>

				  	<br>				
	    <ol>
 	<div class="form-pagebreak">
<li><button class="saveForLater" name="saveForLaterBtn">Save for later</button></li>  
	</div> 
			<br>
	<div class="form-pagebreak">
<li><button class="back"><a href="/applicationForm"></span>Back</a></button>
<button class="next" name="nextBtn">next</button>
</li>
	</div>
		</ol>		
 			</form>

		</div>
	</div>