<div class="content">
	<div class="row">
<h3><strong>GROWING AFRICAN DEVELOPERS.</strong></h3>

<div class="text-content">

CODEX @ WORKSHOP 17

Watershed Building 
17 Dock Road 
V&A Waterfront 
8002 / Cape Town 
South Africa 
Find us on Google Maps

CONTACT US
		</div>
	</div>
</div>