<div class="content">
	<div class="row">

<h4><strong>MAKE 2016 THE YEAR YOU LEARN TO CODE</strong></h4>

<small>Learning is arranged into three terms over the year. Each term gets more sophisticated in terms of concepts, languages, and projects. After you complete 3 terms, we’ll work with you to find a job or start a business with the skills you’ve gained.</small>

<h4><strong>CODEX 2015 TERMS</strong></h4>

<small>Term 3: 14 September - 4 December</small>
<h4><strong>CODEX 2016 TERMS</strong></h4>

<small>Term 1: 15 February - 6 May</small>
<small>Term 2: 30 May - 19 August</small>
<small>Term 3: 12 September - 2 December</small>

<br>
<br>
<div class="form-pagebreak">
		<br>
<button class="back"><a href="/aboutUs"></span>Back</a></button>
		</div>
	</div>
</div>