<div class="content">
	<div class="row">
<h3><strong>GROWING AFRICAN DEVELOPERS.</strong></h3>

<!-- <div class="text-content"> -->


 <smaller><strong>CODEX @ WORKSHOP 17 </strong></smaller><br>
 <small><strong>Watershed Building</strong></small> <br>
 <small><strong>17 Dock Road</strong></small> <br>
 <small><strong>V&A Waterfront</strong></small> <br>
<small><strong>8002 / Cape Town </strong></small><br>
<small><strong>South Africa </strong></small><br>
<small><strong>Find us on Google Maps</strong></small>
<br>
<br>
<div class="form-pagebreak">
		<br>
<button class="back"><a href="/aboutUs"></span>Back</a></button>
		</div>

		<!-- </div> -->
	</div>
</div>