<div class="content">
	<div class="row">
<h3><strong>GROWING AFRICAN DEVELOPERS.</strong></h3>

<div class="text-content">Programmers are in high demand and critically short supply. We train talented young brains to get these high paying jobs, and build Africa's digital future.
We believe technical skills can be learned, but self-motivated thinkers are born. If you believe you’ll always be learning and will stop at nothing to solve the problem at hand, we want you.</div>

<h3><strong>WHAT WE’RE NOT - SCHOOL.</strong></h3>

<div class="text-content">codeX is a full-time apprenticeship 9 to 5, every weekday. Very quickly, you'll build real projects for real companies. You might even get paid for them as you grow your skills, and commit to working for our partners for a time at the end (if they want to hire you). codeX guides you and gives you a safe space to experiment and grow.</div><br>

<div class="text-content">There are no formal classes, though you’ll learn industry standard programming languages like Java, PHP, Python, and Javascript. In order to build your projects, you'll be guided through online content with a developer mentor always available to help.</div>

<div class="text-content">codeX complements the learn-by-doing approach with daily coding exercises (katas) and talks with industry professionals and mentors so you gain context for your programming knowledge in computer science and business.</div><br>

<div class="text-content">But we only invest in people who invest in themselves.</div><br>

<div class="text-content">You need to show up every day on time, work well with your team members, and be focused on delivering what the client wants. There are no grades and no tests, but you’ll be evaluated continuously. If you don’t perform, you’ll be replaced.</div><br>

<h3><strong>AGILE IS THE WAY</strong></h3>

<div class="text-content">Being a developer isn’t just about knowing certain computer languages; it’s about learning how to figure out what works and moving the ball forward. In codeX, you’ll learn agile philosophy and methods like test-driven development, extreme programming, and daily scrums.</div>

<div class="text-content">Don’t worry about the terms now. The point is we arm you with the tools to succeed in an environment where you know very little, which is how the real world works.</div><br>
	</div>
</div>